
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header {
    height: 24px;
    color: white;
    padding: 52px 66px 52px 135px;
  }
  .lines {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: gray;
  }
  .banner {
    padding-left: 135px;
  }
  .banner__left {
    position: relative;
  }
  .banner__right {
    position: absolute;
    right: 0;
  }
  .banner .container {
    display: flex;
    height: 634px;
  }
  .banner h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 103%;
    letter-spacing: 0.02em;
    width: 669px;
    height: 147px;
    margin-top: 180px;
  }
  .banner button {
    width: 243px;
    height: 64px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    border-radius: 50px;
  }
  .btn__banner {
    margin-top: 25px;
  }
  .btn__banner-one {
    color: aliceblue;
    border: none;
    background-color: #5f2eea;
  }
  .btn__banner-two {
    color: #5f2eea;
    border: 2px solid #5f2eea;
  }
  .banner img {
    width: 1090px;
    height: 634px;
  }
  .card__banner {
    padding: 0 0 83px;
  }
  .cards {
    display: flex;
  }
  .card__image {
    width: 37px;
    height: 37px;
  }
  .card {
    border: 1px solid gray;
    border-left: none;
    width: 508px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 21px;
    height: 200px;
  }
  .card h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 106%;
    color: #5f2eea;
    letter-spacing: 0.03em;
  }
  .card p {
    width: 245px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
  }
  .cards :nth-child(3) {
    border-right: none;
  }
.content h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e0d6fc;
    margin: 83px 0 36px ;
}

.content__top h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: 0.02em;
    width: 550px;
    font-family: "Poppins",sans-serif;
}

.content__top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    color: #000;
    width: 360px;
}

.content__top {
    display: flex;
    justify-content: space-between;
}

.content__card {
    border-radius: 20px;
    width: 369px;
    height: 522px;
    border: 2px solid #E7DFFF;

}

.content__card h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 189%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #000;
}

.content__card img {
    padding: 53px 33px;
}

.content__card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
    width: 300px;
    padding: 7px 0 0 50px;

}

.content__card button {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #5F2EEA;
    padding: 20px 80px;
    border-radius: 40px;
    border: 1px solid #5F2EEA;
    background: white;
    margin: 32px 0 0 55px;

}

.content__box{
    display: flex;
    gap: 35px;
    margin-top: 80px;
}